[submodule "contracts/lib/solmate"]
	path = contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "contracts/lib/v4-core"]
	path = contracts/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "contracts/lib/v4-periphery"]
	path = contracts/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "contracts/lib/permit2"]
	path = contracts/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady.git
