# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Foundry
lcov.info
Playground.t.sol
output.txt
*.meta.txt
