ASTRID_NODE_CLICKHOUSE_HOST=127.0.0.1
ASTRID_NODE_CLICKHOUSE_PORT=8124
ASTRID_NODE_CLICKHOUSE_USER=astrid
ASTRID_NODE_CLICKHOUSE_PASSWORD=astrid
ASTRID_NODE_NATS_URL=nats://127.0.0.1:4223
ASTRID_NODE_MANIFEST_URL=./examples/manifest.example.json
ASTRID_NODE_CACHE_DIR=.astrid/cache
